# تجاهل ملف البيئة .env
.env

# تجاهل مجلد node_modules (يحتوي على الحزم التي يتم تثبيتها بواسطة npm)
node_modules/

# تجاهل ملفات نظام التشغيل مثل Thumbs.db (على ويندوز) أو .DS_Store (على ماك)
.DS_Store
Thumbs.db

# تجاهل ملفات الإعدادات الخاصة بالمحررات مثل VSCode
.vscode/
